numpy==2.2.6
Cython==3.1.1
scipy==1.15.3
pandas==2.3.0
scikit-learn==1.7.0
statsmodels==0.14.4
joblib==1.5.1
setuptools==80.9.0

altair
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
curl_cffi
cycler
fonttools
frozendict
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
multitasking
narwhals
packaging
patsy
peewee
pillow
platformdirs
plotly
protobuf
pyarrow
pycparser
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
six
smmap
soupsieve
streamlit
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
websockets
yfinance

pmdarima==2.0.4
